@mixin buttonIOS($bgColor, $color) {
    height: 64px;
    width: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bgColor;
    color: $color;
    font-weight: bold;
    font-size: 20px;
    border-radius: 50%;
    transition: filter 128ms linear;
    user-select: none;
    cursor: pointer;

    &:hover {
        background-color: darken($color: $bgColor, $amount: 24);
    }

    &:active {
        background-color: darken($color: $bgColor, $amount: 16);
    }
}