@mixin buttonIOS($bgColor, $color) {
    height: 64px;
    width: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bgColor;
    color: $color;
    font-weight: bold;
    font-size: 20px;
    border-radius: 50%;
    transition: filter 128ms linear;
    user-select: none;
    cursor: pointer;

    &:hover{
        filter: brightness(60%);
    }

    &:active{
        filter: brightness(70%);
    }
}